<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xingwang.essay">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true">
        <!--文章网页展示-->
        <activity android:name=".EssayWebviewActivity"
            android:theme="@style/reslib_AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="essay"
                    android:host="${applicationId}.host.adessay" />
            </intent-filter>
        </activity>
        <!--文章列表-->
        <activity android:name=".EssayListActivity"
            android:theme="@style/reslib_AppTheme.Translucent"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="essay"
                    android:host="${applicationId}.host.essaylist" />
            </intent-filter>
        </activity>
    </application>

</manifest>