<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingwang.classroom" >
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序修改全局音频设置 -->

    <!--网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--锁屏工作，防止休眠-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--悬浮窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--启用通知栏需使用-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--启用通知栏需使用-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--tencent x5添加-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
   <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    &lt;!&ndash; 硬件加速对X5视频播放非常重要，建议开启 &ndash;&gt;
    <uses-permission android:name="android.permission.GET_TASKS" />-->

    <application android:hardwareAccelerated="true"
        >

        <activity android:name="com.xingwang.classroom.ui.ClassRoomHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppThemeClassRoom" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="classroom"
                    android:host="${applicationId}.kchome" />
            </intent-filter>
        </activity>
        <activity android:name="com.xingwang.classroom.ui.ClassRoomCommentDetailActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppThemeClassRoom" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="classroom"
                    android:host="${applicationId}.pldetail" />
            </intent-filter>
        </activity>
        <!--在你需要全屏播放的Activity中加上这个属性，告诉系统Activity在横竖屏切换时不要销毁Activity-->
        <activity android:name="com.xingwang.classroom.ui.ClassRoomDetailActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppThemeClassRoom" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="classroom"
                    android:host="${applicationId}.kcdetail" />
            </intent-filter>
        </activity>
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>
    </application>
</manifest>
