<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinwang.shoppingcenter">
    <!--网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <application android:hardwareAccelerated="true">
        <activity android:name=".ui.ShoppingHomeActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ShoppingSearchActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.CategoryListsActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppThemeClassRoom">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="classroom"
                    android:host="${applicationId}.splist" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ShoppingCenterActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ShoppingEditActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ShoppingAddActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ShoppingOrderActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"

            android:theme="@style/AppThemeClassRoom">

        </activity>
        <activity android:name=".ui.CouponListsActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.OrderListActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppThemeClassRoom">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="classroom"
                    android:host="${applicationId}.ddlist" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OrderDetailActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"

            android:hardwareAccelerated="true"
            android:theme="@style/AppThemeClassRoom">
         <!--   <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="classroom"
                    android:host="${applicationId}.dddetail" />
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.SimplePlayerActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:theme="@style/AppThemeClassRoom"/>
        <activity android:name=".ui.WaybillDetailActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ShoppingReviewActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ReviewDetailActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ReviewListActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ShoppingCasesActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeClassRoom">
        </activity>
        <activity android:name=".ui.ShoppingDetailActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:exported="true"
            android:theme="@style/AppThemeClassRoom">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="classroom"
                    android:host="${applicationId}.spdetail" />
            </intent-filter>
        </activity>
    </application>
</manifest>